<!DOCTYPE html>
<html lang="en">

<header>
        <h1>Edit Survey Form</h1>
    <% @survey.errors.full_messages.each do |m| %>
        <p><%= m %></p>
    <% end %>
    <% @survey.location.errors.full_messages.each do |m| %>
        <p><%= m %></p>
    <% end %>
</header>

<main>
    <form method="post" action="/surveys/<%= @survey.id %>">
        <input type="hidden" name="_method" value="patch">
        <label for="survey[name]">Name: </label>
            <input type="text" name="survey[name]" value="<%= @survey.name %>" required>
        <br>
        <label for="survey[gender]">Gender: </label>
            <input type="radio" name="survey[gender]" value="m" <%= "checked" if @survey.gender == "m" %>  required>male
            <input type="radio" name="survey[gender]" value="f" <%= "checked" if @survey.gender == "f" %>  required>female
        <br>
        <label for="survey[age]">Age: </label>
            <input type="integer" name="survey[age]" value="<%= @survey.age %>"required>
        <br>
        <label for="survey[first_language]">First language: </label>
            <input type="text" name="survey[first_language]" value="<%= @survey.first_language %>" required>
        <br>
        <label for="survey[second_language]">Second language: </label>
            <input type="text" name="survey[second_language]" value="<%= @survey.second_language  %>" required>
        <br>
        <label for="location[province]">Province: </label>
            <input type="text" name="location[province]" value="<%= @survey.location.province %>" required>
        <br>
        <label for="location[county]">County: </label>
            <input type="text" name="location[county]" value="<%= @survey.location.county %>" required>
        <br>
        <label for="location[village]">Village: </label>
            <input type="text" name="location[village]" value="<%= @survey.location.village %>" required>
        <br>
        <button type="submit">Submit</button>
    </form>
</main>
</html>